body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2102px;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  height:2102px;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1043px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:49px;
  width:360px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u360 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:200px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u361 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:932px;
  width:200px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u362 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1272px;
  width:200px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u363 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:545px;
  width:200px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u364 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:1696px;
  width:200px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u365 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:272px;
  width:360px;
  height:69px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u366 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:587px;
  width:360px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u367 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:975px;
  width:360px;
  height:97px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u368 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1315px;
  width:360px;
  height:162px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u369 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1740px;
  width:360px;
  height:162px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u370 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:346px;
  width:188px;
  height:136px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u371 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:1620px;
  width:60px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u372 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:2046px;
  width:60px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:228px;
  width:200px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
