body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:598px;
  width:300px;
  height:35px;
}
#u394_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:33px;
  width:45px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u396 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:34px;
  width:46px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
